---
layout: grouped_page
title: About
subtitle: Our Robots
permalink: /about/robots/
---
<table class="full_table alternating" cellspacing="0px">
  {% for robot in site.data.robots %}
    <tr width="100%">
      <td style="text-align: left; vertical-align: top; padding: 15px">
        <img width="35%" style="float: left; margin-right: 10px; margin-bottom: 0px;" src="/assets/page_photos/about/robots/{{ robot.year }}.png" />
        
        <h3> "{{ robot.name }}"

          <a href="https://www.thebluealliance.com/team/3128/{{robot.year}}" target="_blank" rel="noopener noreferrer">
            <img style="vertical-align: text-top" height="26px" src="/assets/page_photos/about/robots/tba-logo.png">
          </a>
          {% if robot.code != undefined %}
          <a href="https://github.com/Team3128/{{robot.code}}" target="_blank" rel="noopener noreferrer">
            <img style="vertical-align: text-top" height="26px" src="/assets/page_photos/about/robots/github-logo.png">
          </a>
          {% endif %}

          {% if robot.yt != undefined %}
          <a href="https://www.youtube.com/watch?v={{robot.yt}}" target="_blank" rel="noopener noreferrer">
            <img style="vertical-align: text-top" height="26px" src="/assets/page_photos/about/robots/yt-logo.png">
          </a>
          {% endif %}

          </h3>

        <a target="_blank" rel="noopener noreferrer" href="{% if robot.year == 2024 %} http://www.firstinspires.org/resource-library/frc/competition-manual-qa-system {% else %} http://www.firstinspires.org/resource-library/frc/archived-game-documentation {% endif %}"><h4>{{ robot.year }} - {{ robot.game }}</h4></a>
        {% if robot.stats == true %}
          <b>Dimensions: </b>{{ robot.dimensions }}
          <br>
          <b>Weight: </b>{{ robot.weight }}
          <br>
          <b>Top Speed: </b>{{ robot.speed }}
          <br>
        {% endif %}

        {{ robot.description }}
      </td>
    </tr>
  {% endfor %}
</table>
